.bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main {
  height: 60rem;
}

@media only screen and (max-width: 688px) {
  .main {
    height: 80rem;
  }
}

@media only screen and (max-width: 495px) {
  .main {
    height: 100rem;
  }
}
