.city-weather {
  margin: 5rem 5rem 0 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #ffff;
  border-radius: 1em;
  padding: 1rem;
  -moz-box-shadow: 1px 1px 10px #000000;
  -webkit-box-shadow: 1px 1px 10px #000000;
  box-shadow: 1px 1px 10px #000000;
}

.search {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #d0e3f9;
}

.upper-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search input {
  background-color: #ffff;
  border: 0;
  border-radius: 1em;

  font-size: 18px;
  padding: 15px;
  height: 1rem;
  width: 15rem;
  margin-bottom: 0.2em;
}

.dropdown {
  position: absolute;
  top: 9rem;
  background-color: #ffff;
  border: 0;
  border-radius: 0.5em;

  font-size: 18px;
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  width: 100%;
  background-color: #d9dddc;
}

.dropdown-item:hover {
  background-color: white;
}

input:focus {
  outline: none;
}
