.error {
  background-color: #ffbab9;
  color: #e03636;
  height: 5rem;
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  border-radius: 10px;
  padding: 2em;
}

.main {
  height: 60rem;
}

@media only screen and (max-width: 688px) {
  .main {
    height: 80rem;
  }
}

@media only screen and (max-width: 495px) {
  .main {
    height: 100rem;
  }
}
