.body-light {
  background-color: #d0e3f9;
}

.body-dark {
  background-color: #0b4180;
}

button:hover {
  transform: scale(1.25);
}

button:active {
  transform: scale(0.8);
}

.icon-buttons:hover {
  animation: beat 1s infinite;
  color: #000000;
}
